node_modules
.DS_Store
scripts/
dump/
build/
docker-compose.yml
.env
*.env.example
azure-pipelines-1.yml
azure-pipelines.yml
auth0/config.prod.json
backend/common/services/google-calendar/google-calendar-vh.js
